<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>The Storm</title>
  <script src="javascripts/countdown.js"></script>
  <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">

</head>
<body>


<div class="container">
  <h1>The Storm</h1>

  <h2>NO.1 Website connecting to mentorship </h2>

  <h3>coming soon</h3>
  <hr>
  <p id="demo" style="font-size:30px"></p>
</div>
<div class="bottomleft">
  <p>Design by JIAQI AO, SHAOBIN ZHAO and SICONG HU</p>
</div>

</body>
</html>
